<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %>

<ul class="catalog"> 
	<% cache @products_in_category do %>
		<% @products_in_category.each do |product| %>
			<% cache product do %>
				<li class="box">
					<div class="product-image">
						<%= image_tag(product.image_url, :size => '200x200') %>
					</div> 
					<div class="product-title">
						<h2><%= truncate(product.title, length: 70) %></h2>
					</div>
					<div class="price">
						<%= number_to_currency(product.price) %>
					</div>
						<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
					</div>
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>