<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<% if current_user and current_user.admin? %>
	<%= link_to 'New product', new_product_path %><br><br>
<% end %>

<ul class="catalog"> 
	<% cache @products do %>
		<% @products.each do |product| %>
			<% cache product do %>
				<li class="box">
					<div class="product-image">
						<%= link_to image_tag(product.image_url, :size => '200x200'), product %>
					</div> 
					<div class="product-title">
						<h2><%= link_to truncate(product.title, length: 70), product %></h2>
					</div>
					<div class="price">
						<%= number_to_currency(product.price) %>
					</div>
					<div class="add-to-cart">
						<div id="cart-icon">
							<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
						</div>
						<div id="cart-button">
							<%= link_to image_tag('add_cart_01.png'), line_items_path(product_id: product), remote: true %>
						</div>
					</div>
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>
<br><br><br>
<div class="flickr_pagination">
	<%= will_paginate @products %>
</div>
<br><br>


