<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<html>
  <head> 
    <title>Zeb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body> 
    <header class="main"> 
    	<%= render("layouts/header") %>
    </header>

    <section class="content"> 
      <nav class="side_nav"> 
         <% if @cart %> 
          <div id="cart" class="carts">          
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>
        <div id="side">
	        <%= render("layouts/sidebar") %>
  			</div>  
      </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>